.container {
    height: 80vh;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
}
.containerForShowBtn{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container{
    display: flex;
    flex-direction: column;
}
span {
    color: white;
}