.temp-wraper {
    display: flex;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}
.temp-degree {
    color: white;
    font-size: 65px;
}

.temp-icon {
    color: white;
    font-size: 100px;
}
.temp-circle{
    color: white;
    font-size: 12px;
}